target
.*
!.gitignore
!.travis.yml
*.iml
/data
/releases
/application-*.properties*
*.log
/resources
snomed-drools-rules
/tmp
/local*
authoring-traceability.log*
/application.properties
test.properties
